<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#page-top">U71 Direct Sale</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden active">
          <a href="#page-top"></a>
        </li>
        <li class="page-scroll">
          <a href="#victim">聽聽受害者</a>
        </li>
        <li class="page-scroll">
          <a href="#accomplice">共犯結構</a>
        </li>
        <li class="page-scroll">
          <a href="#example">真實網路案例</a>
        </li>
        <li class="page-scroll">
          <a href="#same">別來煩</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<header>
  <div class="container">
    <div class="row header-info">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h1 class="wow fadeIn" style="color: yellow;font-weight: bold;">有空嗎？可以幫我貼個文嗎？</h1>
        <br />
        <p class="lead wow fadeIn" data-wow-delay="0.5s">對於這樣的事情你從不感到困擾嗎？ 月薪四萬的工作到處找人貼文不覺得可疑嗎？ <br>
        如果你替他們貼文，你就有可能是直銷詐騙的幫兇。</p>
        <br />
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <div class="row">
              <div class="col-xs-12 wow fadeInUp" data-wow-delay="1s">
                <a href="#be-the-first" class="btn btn-success btn-lg scroll">深入了解</a>
              </div>
              </div><!--End Button Row-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="mouse-icon hidden-xs">
    <div class="scroll"></div>
  </div>
  <section id="be-the-first" class="pad-xl">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center margin-30 wow fadeIn" data-wow-delay="0.6s">
          <h2 style="color: #FFFFFF;">直銷的本意是好的，但為了業績卻以欺騙為主</h2>
          <p class="lead" style="color: ##F5F5F5;">利用人情的弱點，敲了許久未曾聯絡的你，竟只是為了利益？</p>
        </div>
      </div>
      <div class="iphone wow fadeInUp" data-wow-delay="1s">
        <img src="img/iphone.png">
      </div>
    </div>
  </section>
  <section id="victim" class="pad-xl">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center margin-30 wow fadeIn" data-wow-delay="0.6s">
          <h2>聽聽受害者怎麼說</h2>
        </div>
        <div class="col-sm-4 wow fadeIn" data-wow-delay="0.4s">
          <hr class="line purple">
          <h3>F小姐</h3>
          <p> 團購不是為了省運費或更便宜嗎，原來是直銷啊，我最討厭不老實的直銷了！！</p>
        </div>
        <div class="col-sm-4 wow fadeIn" data-wow-delay="0.8s">
          <hr  class="line blue">
          <h3>Z小姐</h3>
          <p>我是覺得可以不用晚密別人因為人家都要睡覺了，不要騙朋友，因為你能騙到的，都是相信你的人。</p>
        </div>
        <div class="col-sm-4 wow fadeIn" data-wow-delay="1.2s">
          <hr  class="line yellow">
          <h3>N先生</h3>
          <p>明明平常都不聯絡，突然聯絡就叫我買殺小冰棒，結果是想推直銷，問是不是直銷還說是網拍，片小片皮！</p>
        </div>
      </div>
    </div>
  </section>
  <!--Pricing-->
  <section id="accomplice" class="pad-lg" style="background-color: beige;">
    <div class="container">
      <div class="row margin-40">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <h2>共犯結構</h2>
          <p>如果你因為人情壓力，而在不知情狀況下分享文章，你其實在幫助直銷詐騙。</p>
        </div>
      </div>
      <div class="row margin-50">
        <div class="col-sm-4 pricing-container wow fadeInUp" data-wow-delay="1s">
          <img class="img-responsive" src="img/evidence1.jpg" alt="Tech Crunch">
        </div>
        <div class="col-sm-4 pricing-container wow fadeInUp" data-wow-delay="0.4s">
          <img class="img-responsive" src="img/evidence2.jpg" alt="Tech Crunch">
        </div>
        <div class="col-sm-4 pricing-container wow fadeInUp" data-wow-delay="1.3s">
          <img class="img-responsive" src="img/evidence3.jpg" alt="Tech Crunch">
        </div>
      </div>
    </div>
  </section>
  <section id="example" class="pad-lg">
    <div class="container">
      <div class="row margin-40">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <h2 >網路案例</h2>
          <p >同樣的案例有多少人受騙，直銷為了利益將友情拋之腦後。</p>
        </div>
      </div>
      <div class="row margin-50">
        <div class="col-sm-6 text-center" data-wow-delay="1s">
          <img class="img-responsive" src="img/link1.png" alt="Tech Crunch">
          <br/>
          <a class="btn btn-primary btn-lg" href="https://www.ptt.cc/bbs/WomenTalk/M.1454503978.A.913.html"> 點我連結</a>
        </div>
        <div class="col-sm-6 text-center" data-wow-delay="0.4s">
          <img class="img-responsive" src="img/link2.png" alt="Tech Crunch">
          <br/>
          <a class="btn btn-primary btn-lg" href="https://www.dcard.tw/f/job/p/698338"> 點我連結</a>
        </div>
      </div>
    </div>
  </section>
  <section id="same" class="pad-lg" style="background: #f2f2f2;">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <h2 class="black">同學，可以請你不要再煩我嗎？</h2>
          <br />
        </div>
        <div class="col-sm-3 pricing-container wow fadeInUp" data-wow-delay="1s">
          <img class="img-responsive" src="img/fuck3.jpg" alt="Tech Crunch">
        </div>
        <div class="col-sm-3 pricing-container wow fadeInUp" data-wow-delay="0.4s">
          <img class="img-responsive" src="img/fuck2.jpg" alt="Tech Crunch">
        </div>
        <div class="col-sm-3 pricing-container wow fadeInUp" data-wow-delay="1.3s">
          <img class="img-responsive" src="img/fuck1.jpg" alt="Tech Crunch">
        </div>
        <div class="col-sm-3 pricing-container wow fadeInUp" data-wow-delay="1.3s">
          <img class="img-responsive" src="img/fuck4.jpg" alt="Tech Crunch">
        </div>
      </div>
    </div>
  </div>
</section>
<section id="press" class="pad-sm">
  <div class="container">
    <div class="row margin-30 news-container">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 wow fadeInLeft" data-wow-delay="0.8s">
        <a href="#" target="_blank">
          <p class="black">別為了一時的利益，捨去得來不易的友情，因為你真正能騙到的人，都是那些深深相信你的人。<br />
          <small><em>真正的財富，就是你的良心</em></small></p>
        </a>
      </div>
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 wow fadeInLeft" data-wow-delay="0.8s">
        <a href="#" target="_blank">
          <div class="fb-like" data-href="https://u71.herokuapp.com/" data-wigth="900" data-layout="standard" data-action="like" data-show-faces="true" data-share="true">
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
</section>
<footer>
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><small>Copyright &copy; 2016. All rights reserved. <br>
        Created by <a href="https://github.com/niclin">Nic</a></small></p>
      </div>
    </div>
  </div>
</footer>
